<div class="container" id="pageContainer">
    <div class="row">
        <div class="col-md-12">
            <div class="container margin-bottom-20px">
                <h2 class="margin-bottom-15px">Description</h2>
                <p class="margin-right-30px-not-mobile"><b>Takepoint.io is a tactical, objective-based shooter. Capture and defend points from other teams, unlock weapons, upgrades and perks. Player stats can be viewed at stats.takepoint.io.</b></p>

                <h2 class="margin-bottom-15px">Controls</h2>
                <p class="margin-right-30px-not-mobile">Move: WASD or Arrow Keys
                <br>Shoot: Left Click
                <br>Reload: R
                <br>Use Perk: SPACE
                <br>Chat: ENTER
                </p>

                <h2 class="margin-bottom-15px">Health/Damage</h2>
                <p class="margin-right-30px-not-mobile">When you spawn and start taking damage, you'll see two HP bars. The orange one is a temporary shield, it'll absorb damage but it won't recharge. The green bar is your health, it will recharge over time.</p>
                <img id="classImage" src="/img/healthBars.jpg">

                <h2 class="margin-bottom-15px">Upgrades</h2>
                <p class="margin-right-30px-not-mobile">You'll receive ONE upgrade point at EACH LEVEL from 1 to 10. After level 10, you'll be awarded an upgrade point EVERY THREE LEVELS.</p>
                <img id="classImage" src="/img/upgradeSelection.jpg">

                <h2 class="margin-bottom-15px">Weapons</h2>
                <p class="margin-right-30px-not-mobile">These weapons are unlocked when you reach <b>LEVEL 10.</b> They will automatically replace your pistol. </p>
                <img id="classImage" src="/img/assault.jpg">
                <img id="classImage" src="/img/sniper.jpg">
                <img id="classImage" src="/img/shotgun.jpg">

                <h2 class="margin-bottom-15px">Perks</h2>
                <p class="margin-right-30px-not-mobile">These perks are unlocked when you reach <b>LEVEL 15.</b> Press SPACE to use them.</p>
                <img id="classImage" src="/img/health.jpg">
                <img id="classImage" src="/img/barrier.jpg">
                <img id="classImage" src="/img/gas.jpg">
                <img id="classImage" src="/img/frag.jpg">
                <img id="classImage" src="/img/selfDestruct.jpg">
                <img id="classImage" src="/img/turret.jpg">
                
                <h2 class="margin-bottom-15px">Attachments</h2>
                <p class="margin-right-30px-not-mobile">
                    These weapon attachments are unlocked when you reach <b>LEVEL 20,</b> depending which weapon you have. <br>
                    They are applied passively to your upgraded weapon.
                </p>
                <img id="classImage" src="/img/rapidFire.png">
                <img id="classImage" src="/img/unlimitedAmmo.png">
                <img id="classImage" src="/img/highImpact.png">
                <img id="classImage" src="/img/explosiveRounds.png">
                <img id="classImage" src="/img/longBarrel.png">
                <img id="classImage" src="/img/droneLauncher.png">
                
                <h2 class="margin-bottom-15px">Social</h2>
                <a target="_blank" href="https://discord.gg/vbZqzuv">discord.gg/vbZqzuv</a><br>
                <p class="margin-right-30px-not-mobile">Our privacy policy is available <a href="/privacy">here.</a></p>

                <h2 class="margin-bottom-15px">Thumbnail</h2>
                <img src="/img/thumbnail.png" height="266" width="400">
            </div>
        </div>
    </div>
</div>