<div class="container" id="pageContainer">
    <div class="row">
        <div class="col-md-12">
            <div class="container padding-right-45px margin-bottom-200px">
                <h2 class="margin-bottom-15px">Changelog</h2>
                <b>July 14, 2024</b><br>
                <ul>
                    <li>Added weapon attachments</li>
                    <li>Weapon attachments unlock at level 20, once you've selected a tier 2 weapon.</li>
                </ul>
                <b>June 26, 2024</b><br>
                <ul>
                    <li>Gas grenades now only deal damage to enemy teams</li>
                    <li>Buffed the radius and damage of the gas grenade by 50% each</li>
                </ul>
                <b>June 22, 2024</b><br>
                <ul>
                    <li>Implemented daily highscore tracking</li>
                    <li>Tweaked acceleration slightly</li>
                    <li>Added a <a href="/">stats</a> page with leaderboards and player statistics</li>
                    <li>The in-game left container is now a Featured Youtuber section</li>
                </ul>
                <b>June 18, 2024</b><br>
                <ul>
                    <li>Redesigned the UI</li>
                    <li>Fixed a bug causing dropped inputs</li>
                    <li>All perks are now available. Unlock them at level 15 and press space to activate them.</li>
                </ul>
            </div>
        </div>
    </div>
</div>