<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Player stats and high scores for takepoint.io. Kills, deaths, hours played, accuracy and K/D records for every class.">

    <title>Stats | takepoint.io - Player Stats | Customize - Upgrade - Compete</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" integrity="" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" integrity="" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <link href="/css/all.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">

    <style>
        body {
            font-family: 'Lato';
        }

        .fa-btn {
            margin-right: 6px;
        }
    </style>
</head>
<body id="app-layout">
    <div class="container" id="headerContainer">
        <div class="row">
            <div class="pull-left col-xs-4 no-padding-left">
                <a class="navbar-brand" href="/" id="brandLink">stats.takepoint.io</a>
            </div>
            <div class="pull-right col-xs-8 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3 padding-right-8px">
                <div class="input-group" id="searchBox">
                    <input type="text" class="form-control" id="searchUsername" placeholder="Username" maxlength="12">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="search()" id="searchButton">Search</button>
                    </span>
                </div>      
                <script>
                    document.onkeydown = function(event){
                        if(event.keyCode == 13) {
                            search();
                        }
                    };

                    function search(){
                        var username = document.getElementById('searchUsername').value;
                        var currentBaseURL = window.location.href.split("/")[2];
                        document.location = '/user/' + username;
                    }
                </script>
            </div>
        </div>
    </div>
	<div class="container" id="pageContainer">
		<div class="row">
            <div class="col-md-12">
				<div class="container padding-right-45px margin-bottom-200px">
                    <h2 class="margin-bottom-15px">Changelog</h2>
                    <b>June 26, 2024</b><br>
                    <ul>
                        <li>Gas grenades now only deal damage to enemy teams</li>
                        <li>Buffed the radius and damage of the gas grenade by 50% each</li>
                    </ul>
					<b>June 22, 2024</b><br>
                    <ul>
                        <li>Implemented daily highscore tracking</li>
						<li>Tweaked acceleration slightly</li>
						<li>Added a <a href="/">stats</a> page with leaderboards and player statistics</li>
                        <li>The in-game left container is now a Featured Youtuber section</li>
                    </ul>
                    <b>June 18, 2024</b><br>
                    <ul>
                        <li>Redesigned the UI</li>
						<li>Fixed a bug causing dropped inputs</li>
						<li>All perks are now available. Unlock them at level 15 and press space to activate them.</li>
                    </ul>
				</div>
			</div>
        </div>
	</div>

    <div class="container">
        <footer class="footer navbar-fixed-bottom" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 margin-top-10px" style="text-align: left">
                        <p>Copyleft <a class="copyleft">&copy;</a> <%= new Date(Date.now()).getFullYear() %> takepoint.io. All rights reversed.</p>
                    </div>
                    <div class="col-xs-6 margin-top-10px" style="text-align: right">
                        <a class="plain-link" href="/about">About</a> | <a class="plain-link" href="/privacy">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JavaScripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" integrity="" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" integrity="" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    
</body>
</html>