<div class="container" id="pageContainer">
    <div class="row">
        <div class="col-md-12">
            <div class="container padding-right-45px margin-bottom-200px">
                <h2 class="margin-bottom-15px">Takepoint.io Terms of Service</h3>
                <h4>Last updated: July 15, 2024</h4>
                <h2>1. Introduction</h2>
                <p>The Takepoint.io website ("Service") consists of various webpages that are offered to you based 
                    on your acceptance, without modification, of the terms, conditions, and notices ("Terms") contained
                    herein. Using the services offered by this site constitutes your agreement to all such terms, and your
                    access to the Service is contingent upon this agreement.
                </p>
                <p>As a condition of your use of the Service, you warrant that you will not use the 
                    Service or any of the resources obtained from this Service for any purpose that 
                    is unlawful or prohibited by these Terms.
                </p>
                <h2>2. Description of Service</h2>
                <p>Takepoint.io provides online gameplay services free of charge to end users, along with online
                    rankings and means of communication.
                </p>
                <p>Although Takepoint.io has moderation features in place, we do not assume responsibility regarding 
                    the upload of objectionable content, or whether users have the rights to distribute uploaded content.
                </p>
                <h2>3. Changes to the Terms</h2>
                <p>Takepoint.io reserves the right to change the Terms under which the Service is offered. If 
                    you fail to abide by the modified terms, your Service may be terminated.
                </p>
                <p>When our Terms are updated, they will be published on this page, effective immediately. As such, 
                    you should check this page frequently.
                </p>
            </div>
        </div>
    </div>
</div>